*.gem
*.rbc
.bundle
.config
.yardoc
# Gemfile.lock # gems should not commit this, but it's super useful for development
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.*.swp
.idea
